body {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.main-title {
    color:darkolivegreen;
    text-align: center;
    margin: 5rem;
}

.main-nav-bar {
    background-color: darkslategray;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    flex-wrap: wrap;

}

.search-form{
    text-align: center;
    margin-bottom: 2rem;
}

#giphySection{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}
.link1{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}

#css-link22{
    color: white;
}

.link2{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

.link3{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-right: 10px;
}
#link5{
    color: white;
    text-decoration: none;
    padding: 10px;
    margin-left: 10px;
}

.container-fluid{
    flex-wrap: wrap;
}