body {
    font-family: "Rubik Puddles", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  
.main-title {
    color:darkolivegreen;
    text-align: center;
    margin: 5rem;
}

.main-nav-bar {
    background-color: darkslategray;
    padding: 10px;
    text-align: center;
    font-weight: bold;
    
}

.search-form{
    text-align: center;
    margin-bottom: 2rem;
}

#giphySection{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 2rem;
    margin-top: 2rem;
    justify-content: space-around;
}